@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Nav Styling*/
body {
  overflow:hidden
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
  height: 8vh;
  align-items: center;
  background-color: #fffcfc;
}

.nav__logo {
  color: gray;
  font-size: 20px;
}

.nav__search {
  flex: 1;
  display: flex;
  padding: 2px 5px;
  align-items: center;
  border-radius: 3px;
  background: #efefef;
}

.nav__search > input {
  flex: 1;
  border: 0;
  background: none;
  outline: none;
}

.nav__saved {
  display: flex;
  align-items: center;
  position: relative;
  height: 4.5vh;
}

.nav__saved__counter {
  position: absolute;
  background: gray;
  font-size: 10px;
  top: 0;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  right: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.feed {
  padding: 0px 10px;
  width: 100vw;
  height: 90vh;
  padding-top: 2vh;
  overflow: hidden;
  overflow-y: scroll;
}

img {
  filter: grayscale(100);
}

.pagination {
  height:2vh;
  width: 100vw;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button,
.modal__buttons button {
  margin: 0 10px;
  border: none;
  color: #efefef;
  background: none;
  transition-duration: 0.3s;
}

.pagination button:hover,
.modal__buttons button:hover {
  color: gray;
}

.feed::-webkit-scrollbar {
  width: 4px;
}

.feed::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 20px;
}

.feed::-webkit-scrollbar-track {
  background: #fff;
}

.feed__image {
  border-radius: 25px;
}

.image__modal {
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.modal__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.saved-images__modal {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #000;
}

.saved-images__list {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.saved-images__list::-webkit-scrollbar {
  width:4px;
}

.saved-images__list div {
  display: flex;
  flex-direction: column;
}

.saved-images__list div button {
  background: #ffff;
  border: none;
  color: #000;
  transition-duration: 0.3s;
}

.saved-images__list div button:hover {
  color: gray;
}

.saved-images__modal h2,
.saved-images__modal p {
  color: #fff;
  padding:10px;
}
